<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css"	href="css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css"	href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="Text/css" href="css/style.css">
		
		
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap-carousel.js"></script>
		<script src="js/bootstrap-modal.js"></script>
		<link rel="stylesheet" type="text/css"	href="css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css"	href="css/bootstrap-responsive.min.css">

		<script>
			
			$(document).ready(function(){
			$('.carousel').carousel({
			interval:3000
			});
			});


		</script>

	</head>
	<body>
		<div class="wrapper">
			<div class="container-fluid">
				
		
			<!--Header-->
			
			<div><br>
				<div class="row-fluid img3">
					
					<div class="span4"><center><img src="img/logo.svg" class="logo"></img></center></div>
					<div class="span8"><br><br><br><h1 align="center">Mugunthan Computers</h1></div>
					<br>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span4 pul-left">
						<div class="input-append">
							<input class="span6" id="appendedInputButtons" type="text" placeholder="search">	
							<button class="btn" type="button">Go</button>
							
						</div>
					</div>
					
					
					
					<div class="pull-right" style="height: auto;">
					    <ul class="nav nav-tabs">
							<li><a href="#">Login&nbsp <i class="icon-calendar"></i></a></li>
							<li><a href="#">Contact&nbsp <i class="icon-folder-open"></i></a></li>
							<li><a href="#">Search &nbsp <i class="icon-search"></i></a></li>
							<li><a href="#">User&nbsp <i class="icon-user"></i></a></li>
							<li class="active"><a href="#">Home &nbsp <i class="icon-home"></i></a></li>
						</ul>
						
					</div>
					
					
					
				</div>
			</div>
			<hr>
			<!-- Body -->
			<div class="bg">
				<!--slide Show-->
				<div align="center">
					<div id="myCarousel" class="carousel slide">
					<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="active item" id="1">
								<a href="#myModal1" data-toggle="modal"><img class="img1" alt="" src="img/img1.jpg"></img></a>
							</div>
							<div class="item">
								<a href="#myModal2" data-toggle="modal"><img class="img1" alt="" src="img/img3.jpg"></img></a>
							</div>
							<div class="item">
								<a href="#myModa3" data-toggle="modal"><img class="img1"  alt="" src="img/img4.jpg"></img></a>
							</div>
						</div>
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				<!---Contends-->
				<div class="row-fluid">
					<div class="span8">
						<blockquote>
							<h1>Heading Home Page</h1>
							<p class="lead">
								<h3>Title1</h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
							</p>
							<p class="lead">
								<h3>Title2</h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
							</p>
							<p class="lead">
								<h3>Title3</h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
							</p>
							

						</blockquote>
					</div>
					<div class="span4">
						<h3>Navigation</h3>
						<ul class="nav nav-tabs nav-stacked mar" >
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">User</a></li>
							<li><a href="#">Search</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Shedule</a></li>
						</ul>
						<hr>
						<div class="mar">
						    <form>
								<fieldset>
									<legend>Sign Up</legend>
									<label>Email</label>
									<input type="text"  class="input-block-level" placeholder="Email Address…">
									<span class="help-block">Example petter@gmail.com</span>
									<label>Password</label>
									<input type="password"  class="input-block-level" placeholder="Password">
									<label>Confirm Password</label>
									<input type="password"  class="input-block-level" placeholder="Confirm Password">
									<button type="submit" class="btn">Sign UP</button>
								</fieldset>
							</form>
						</div>
						
					</div>
				</div>
			</div>
    
    
    
    
    
				<hr>
				<!--Footer-->
				<div class="row-fluid footer">
					
					
					<div class="span3"><br><a href="#"><img src="img/fb.png"  class="img2"></img></a><a href="#">&nbsp;<img src="img/in.png" class="img2"></img></a></div>
					<div class="pagination span5">
						<ul>
							<li><a href="#"><<</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">>></a></li>
						</ul>
					</div>
					<div class="span4"><br><p> &copy; 2012 All Rights Reserved </p></div>
				</div>
			
			<br>
			<br>
		</div>
		</div>
	</body>
</html>

